@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
html {
    box-sizing: border-box;
    font-size: 16px;
    height: 100%;
    background-color: #FFF6F2;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
}  
ol, ul {
    list-style: none; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}



#preference-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #C00000;
    border-radius: 10px;
    height: 400px;
    width: 200px;
    padding: 1rem;
}

input[type="color"] {
    appearance: none;
    border: none;
    background-color: transparent;
    width: 64px;
    height: 64px;
    
}
input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.sketch-frame {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: center;
    background-color: #C00000;
    border-radius: 10px;
    height: 600px;
    width: 600px;
    
}



.sketch-header {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    color: #F7D057;
    padding: 1rem;
    
}

.sketch-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(238, 238, 238);

    border-radius: 5px;
    height: 400px;
    width: 400px;
}

.sketch-footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding: 0 12px 12px 12px;
    width: 100%;
}
.handles {
    background-color: #E8E0FF;
    border-radius: 100%;
    height: 90px;
    width: 90px;
}